[Unit]
Description=Audio Player Black Box
After=network.target

[Service]
Type=idle
Restart=on-failure
User=pi
ExecStart=/usr/bin/python /home/pi/Documents/audio-pi/audio.py

[Install]
WantedBy=multi-user.target